.outer {
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0px 0px 10px #4d4d4d;
    -moz-box-shadow: 0px 0px 10px #4d4d4d;
    box-shadow: 10px 10px 10px #4d4d4d;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    border:solid white 0px;
    overflow: hidden;
    padding: 0px;
}
.image {
    background: white;
    padding: 0;
     -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#subjectButtons{
  font-size: xx-large;
  padding-top: 15px;
  text-align:center;
}

#background{
    background-color: #FCF5FF !important;
    border-color: #FCF5FF !important;
    background-image: none !important;

}

#tableBackground{
    background-color: #F0F3F9 !important;
    border-color: #F0F3F9 !important;
    background-image: none !important;
}

#header{
    background-color: #7829A0;
    border-color: #7829A0;
    background-image: none;
}

#fonts{
	color:#FFFFFF;
}

.icon-zoom-in
{
  position:relative;
  left:23px;
  top:-8px;
  z-index:999;
}
.input-append input
{
  height:20px;
  padding-left:25px;
}

#seach{
	position:absolute;
	left:0;
	right:0;
}

#signIn {
  width: 400px; /* SET THE WIDTH OF THE MODAL */
  margin-left: -170px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#exampleTable {
  margin-left:0;
  margin-right: auto;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: auto;
}
#footer {
  background-color: #7829A0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.CommunityMembers tr:nth-child(even) {
    background-color: #F2F2F2;
}

.ResultsTable tr:nth-child(odd) {
    background-color: #F2F2F2;
}